<p class="footer-hint">{{hint}}</p>
<p>A project for HP <i>JavaScript cookbook</i> written by <b>Boris Kozorovitzky</b> and <b>Elad Moshe</b></p>
<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>