<h1>todos</h1>
<div id="todoapp">
    <ul id="todo-list" class="links-list">
        <li class="view">
            <div class="view">
                <a href="http://addyosmani.github.com/todomvc/">
                    <label>TodoMVC Website</label>
                </a>
            </div>
        </li>
        <li class="view">
            <a href="#/all">
                <label>Sample Todo application</label>
            </a>
        </li>
    </ul>
</div>