<h1>todos</h1>
<div id="todoapp" class="links-list">
    <ul id="todo-list" class="links-list">
        <li class="view">
            <a href="#/all">
                <label class="clickable">Sample Todo application</label>
            </a>
        </li>
        <li class="view">
            <div class="view">
                <a  href="http://addyosmani.github.com/todomvc/">
                    <label class="clickable">TodoMVC Website</label>
                </a>
            </div>
        </li>
    </ul>
</div>